body {
	margin: 0;
}

/* Sidebar */

#sidebar-wrapper {
	z-index: 1;
	position: fixed;
	width: 260px;
	height: 100%;
	overflow: hidden;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s;
	box-shadow: black 0px 0px 3px 3px;
	text-align: center;
}

.sidebar-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 40px;
	transform: rotate(-2deg);
}

.sidebar-logo img {
	width: 100%;
}

/* Content */
#content-wrapper {
	width: 100%;
	position: absolute;
	padding-top: 15px;
	padding-left: 260px;
	transition: 0.3s;
}

.hamburger {
	outline: 0 !important;
}

.row {
	box-shadow: black 0px 5px 5px -5px;
}

/* Sidebar width change to displayed */

#wrapper.menuDisplayed #sidebar-wrapper {
	width: 0px;
}

#wrapper.menuDisplayed #content-wrapper {
	padding-left: 0px;
}

/* Sidebar styling */
.sidebar-nav {
	padding: 0;
	list-style: none;
	color: white;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
	font-size: 1.8rem;
	transition: 0.2s;
}

.sidebar-nav li:first-child {
	font-family: 'Short Stack', cursive;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: white;
}

.sidebar-nav li:hover {
	background: #ffffff;
}

.sidebar-nav-social {
	padding: 0;
	list-style: none;
	width: 40px;
	margin-top: 440px;
}

.sidebar-nav-social li {
	margin: 20px 0;
}

.sidebar-nav-social img {
	width: 100%;
}

.about-me {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: auto;
	font-family: 'Short Stack', cursive;
	font-weight: bold;
	font-size: 1.2rem;
}

.about-me h2 {
	border-bottom: solid black 2px;
	width: 175px;
	margin-bottom: 20px;
}

.about-me__text {
	max-width: 400px;
	padding-bottom: 80px;
}

.about-me__pic {
	width: 220px;
	align-self: flex-end;
	padding-bottom: 80px;
}

.about-me__pic img {
	width: 100%;
	box-shadow: #4b4b4b 0px 5px 10px 0px;
	border-radius: 5px;
}

.about-me-2,
.journey {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 80px 0;
	text-align: center;
	font-family: 'Short Stack', cursive;
	font-weight: bold;
	font-size: 1.2rem;
}

.journey-pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	margin-bottom: 50px;
}

.journey-pic__thumbtack {
	width: 50px;
	max-width: 5%;
	position: absolute;
	top: 120px;
}

.journey-pic__thumbtack img {
	width: 100%;
}

.journey-pic__map img {
	width: 100%;
}

footer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 70px;
	background-color: black;
}

.to-top {
	border-radius: 40px 40px 0 0;
	position: absolute;
	bottom: 57px;
	width: 90px;
	padding: 12px;
	background-color: black;	
	text-align: center;
}

.to-top img {	
	width: 90%;
}

footer p {
	line-height: 70px;
	color: #d1d1d1;
	z-index: 1;	
}
